.home-container {
    display: flex;
    align-items: flex-start;
    padding: 20px 20px;
}


.category-div {
    flex-grow: 1;
    flex-basis: 20%;
    flex-shrink: 0;
}

.catalog-div {
    flex-grow: 3;
}