
.app-container {
  display: flex;
  flex-direction: column;
  height:100%;
}
.link-list {
  background-color: #010800;
  display: flex;
  justify-content: flex-end;
}

.link:hover {
  background-color: #20201f;
}
.link {
  text-decoration: none;
  color: whitesmoke;
  padding: 15px 10px;
}

.app-footer {
  margin-top: auto;
  text-align: center;
  padding: 15px;
}

